body{
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: grey;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}

nav{
    text-align: center;
}

nav a{
    color: black;
}