html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

main{


}

header.primary{
    background: rgba(0, 0, 0, 0.4);
}

#content{
    background: rgba(0, 0, 0, 0.4);
}

footer.primary{
    background: rgba(0, 0, 0, 0.4);
}

#blog{
    background: rgba(0, 0, 0, 0.4);
}

aside{
    background: rgba(0, 0, 0, 0.4);
}